c-grid-item,
ngx-grid-item {
  background: #ccc;
  border    : 1px solid black;
}
ngx-grid-layout {
  background-color: #fff;
}

.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}

:host ::ng-deep .ngx-grid-static {
  background-color: #cce;
}