<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="48" [nzWidth]="180">
    <c-layout-side [cMenuList]="leftMenu" [(cCollapsed)]="isCollapsed" [cLogoRender]="null"></c-layout-side>
    <!-- <c-layout-slider [cMenuList]="leftMenu" [(cCollapsed)]="isCollapsed"></c-layout-slider> -->
  </nz-sider>
  <nz-layout>
    <c-layout-header
      [cMenuList]="menuList"
      [cCollapsed]="isCollapsed"
      [cIsLogo]="true"
      (changeMenu)="clickm($event)"
      [cLogoConfig]="logoConfig"
      [cMenuLeftBefore]="cMenuLeftBefore"
      [cMenuRight]="rightMenu"></c-layout-header>
    <nz-content
    [style.marginLeft.px]="isCollapsed ? 48 : 180"
    >
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #cMenuLeftBefore >
  <nz-select [style.width.px]="120" nzPlaceHolder="请选择项目" nzAllowClear>
    <nz-option
      [nzLabel]="'dome1'"
      [nzValue]="'1'"
    >
    </nz-option>
    <nz-option
      [nzLabel]="'dome2'"
      [nzValue]="'2'"
    >
    </nz-option>
  </nz-select>
  
</ng-template>
