<!-- <c-ngx-ace
[options]="aclOptions"
[(ngModel)]="aceText"
(ngModelChange)="change($event)"
></c-ngx-ace> -->

<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <c-ngx-ace
      formControlName="ace" 
      id="ace"
      [options]="aclOptions"
      ></c-ngx-ace>
    </nz-form-control>
  </nz-form-item>
  <footer>
    <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="submitForm()">保存</button>
  </footer>
</form>